.App {
  text-align: center;
}

/*Styles for NavBar */
#basic-nav-dropdown {
  color: white;
}

/* Styles for Home (Content, Header, Sidebar)*/
.myContainer {
  max-width: 100%;
  margin: auto;
  height: 100vh;
}

/*Styles for Header*/
.myHeader {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*Styles for Footer*/
.footer {
  width: 100%;
  background-color: black;
  margin-top: 10px;
}
.footerLink {
  color: White;
}

/*Styles for Sidebar*/
.headshot {
  display: block;
  margin: auto;
  height: 400px;
  width: 300px;
  border-style: inset;
}

/*Styles for Content*/
.tab {
  margin-left: 20px;
}

.myPara {
  width: 85%
}

/*Styles for Projects*/
.projContainer {
  max-width: 100%;
  margin: auto;
  height: 100%;
}

.projContainer1 {
  max-width: 100%;
  margin: auto;
  height: 100%;
  text-align: center;
}

.projCard{
  width: 65%;
  height: 75%;
  margin: auto;
}
